In [ ]:
#### 100 DAYS OF PYTHON #### 
# Day 1: Introduction to Pandas – Basic DataFrame Operations

# Task:
# Create a Pandas DataFrame from the following data:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | 34  | Analyst          | 64000  |
# | Adam  | 30  | Data Scientist   | 72000  |
# | Petra | 25  | Data Engineer    | 69000  |

# Tasks:
# 1. Print the first 5 rows of the DataFrame.
# 2. Sort the DataFrame by salary in descending order.
# 3. Create a new column called "Bonus," which is 10% of each employee’s salary.
# 4. Print only the columns "Name" and "Salary."
# 5. Save the DataFrame to a CSV file.

# Tips:
# - Use the `pandas` library to manipulate the data.
# - You can save the CSV file using the `to_csv()` function.

# Bonus task:
# Find out how many employees have a salary higher than 60,000.

######

In [17]:
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [18]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra'],
    'Age': [28, 34, 30, 25],
    'Job': ['Programmer', 'Analyst', 'Data Scientist', 'Data Engineer'],
    'Salary': [58000, 64000, 72000, 69000]
}

In [19]:
# Creating the DataFrame
df = pd.DataFrame(data)

In [20]:
# Task: 1. Print the first 5 rows of the DataFrame.
print(df.head())

    Name  Age             Job  Salary
0   John   28      Programmer   58000
1    Eva   34         Analyst   64000
2   Adam   30  Data Scientist   72000
3  Petra   25   Data Engineer   69000

In [52]:
# Task: 2. Sort the DataFrame by salary in descending order.
#df.sort_values(ascending=False) # Descending
df_sorted = df.sort_values(by='Salary', ascending=False)
print(df_sorted)

    Name  Age             Job  Salary   Bonus
2   Adam   30  Data Scientist   72000  7200.0
3  Petra   25   Data Engineer   69000  6900.0
1    Eva   34         Analyst   64000  6400.0
0   John   28      Programmer   58000  5800.0

In [32]:
# Task: 3. Create a new column called "Bonus," which is 10% of each employee’s salary.
df['Bonus'] = df['Salary'] * 0.1
print(df)

    Name  Age             Job  Salary   Bonus
0   John   28      Programmer   58000  5800.0
1    Eva   34         Analyst   64000  6400.0
2   Adam   30  Data Scientist   72000  7200.0
3  Petra   25   Data Engineer   69000  6900.0

In [34]:
# Task: 4. Print only the columns "Name" and "Salary."
print(df[['Name','Salary']]) # list of columns

    Name  Salary
0   John   58000
1    Eva   64000
2   Adam   72000
3  Petra   69000

In [38]:
# Task: 5. Save the DataFrame to a CSV file.
# df.to_csv('employees.csv', index=False) # without index column
print(df)

    Name  Age             Job  Salary   Bonus
0   John   28      Programmer   58000  5800.0
1    Eva   34         Analyst   64000  6400.0
2   Adam   30  Data Scientist   72000  7200.0
3  Petra   25   Data Engineer   69000  6900.0

In [51]:
# Bonus task:
# Find out how many employees have a salary higher than 60,000.
high_salary = df[df['Salary'] > 60000].shape[0] # .shape gives tuple with count of rows and columns, [0] = rows
print(high_salary)

3