In [ ]:
# Day 3: Filtering and Aggregating Employee Data using Pandas

# Task:
# You will work with a DataFrame containing employee information.
# Your task is to filter the data and perform aggregation on the salaries.

# Here is the data you will work with:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | 34  | Analyst          | 64000  |
# | Adam  | 30  | Data Scientist   | 72000  |
# | Petra | 25  | Data Engineer    | 69000  |
# | Mark  | 29  | Data Scientist   | 71000  |

# Tasks:
# 1. Filter the DataFrame to include only employees with a salary greater than 65,000.
# 2. Calculate the total salary of these employees.
# 3. Calculate the average salary of these employees.
# 4. Sort the filtered DataFrame by the "Salary" column in descending order.
# 5. Print the filtered and sorted DataFrame along with total and average salary.

# Tips:
# - Use `df[df['Salary'] > 65000]` to filter the DataFrame.
# - Use `sum()` to calculate the total salary.
# - Use `mean()` to calculate the average salary.
# - Use `sort_values()` to sort the DataFrame by salary.

# Bonus task:
# After filtering, identify how many employees have salaries above 70,000.

In [3]:
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [4]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra', 'Mark'],
    'Age': [28, 34 , 30, 25, 29 ],
    'Job': ['Programmer', 'Analyst', 'Data Scientist' , 'Data Engineer', 'Data Scientist'],
    'Salary': [58000, 64000, 72000, 69000 , 71000]
}

# Creating the DataFrame
df = pd.DataFrame(data)

In [14]:
print(df.head(3))

   Name  Age             Job  Salary
0  John   28      Programmer   58000
1   Eva   34         Analyst   64000
2  Adam   30  Data Scientist   72000

In [22]:
# Task: 1. Filter the DataFrame to include only employees with a salary greater than 65,000.
filtered_df = df[df['Salary'] > 65000]
print(filtered_df)

    Name  Age             Job  Salary
2   Adam   30  Data Scientist   72000
3  Petra   25   Data Engineer   69000
4   Mark   29  Data Scientist   71000

In [34]:
# Task: 2. Calculate the total salary of these employees.
total_salary = sum(filtered_df['Salary'])

In [36]:
# Task: 3. Calculate the average salary of these employees.
average_salary = filtered_df['Salary'].mean()

In [31]:
# Task: 4. Sort the filtered DataFrame by the "Salary" column in descending order.
sorted_filtered_df = filtered_df.sort_values(['Salary'], ascending=False)
# Other option: top_salaries = filtered_df.nlargest(n=5, columns='Salary')

In [37]:
# Task: 5. Print the filtered and sorted DataFrame along with total and average salary.
print(sorted_filtered_df)
print(total_salary)
print(average_salary)

    Name  Age             Job  Salary
2   Adam   30  Data Scientist   72000
4   Mark   29  Data Scientist   71000
3  Petra   25   Data Engineer   69000
212000
70666.66666666667

In [40]:
# Bonus task:
# After filtering, identify how many employees have salaries above 70,000.
sorted_filtered_df[sorted_filtered_df['Salary'] >70000].shape[0] # .shape gives tuple with count of rows and columns, [0] = rows

2