In [ ]:
# Day 4: Working with Grouping and Aggregation in Pandas

# Task:
# You will work with a DataFrame containing employee data, and your task is to perform grouping and aggregation operations.

# Here is the data you will work with:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | 34  | Analyst          | 64000  |
# | Adam  | 30  | Data Scientist   | 72000  |
# | Petra | 25  | Data Engineer    | 69000  |
# | Mark  | 29  | Data Scientist   | 71000  |
# | Lucy  | 35  | Programmer       | 60000  |
# | Mike  | 32  | Data Scientist   | 75000  |

# Tasks:
# 1. Group the employees by their "Job" titles.
# 2. Calculate the average salary for each job title.
# 3. Count how many employees are in each job category.
# 4. Print the grouped DataFrame, showing both the average salary and employee count for each job.

# Tips:
# - Use `groupby()` to group data by a specific column.
# - Use `agg()` to perform multiple aggregation functions.
# - Use `size()` to count the number of employees in each group.

# Bonus task:
# Find the job title with the highest average salary and print it.

In [3]:
# import libraries
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [14]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra', 'Mark', 'Lucy', 'Mike'],
    'Age': [28, 34 , 30, 25, 29, 35, 32 ],
    'Job': ['Programmer', 'Analyst', 'Data Scientist' , 'Data Engineer', 'Data Scientist', 'Programmer', 'Data Scientist'],
    'Salary': [58000, 64000, 72000, 69000 , 71000, 60000, 75000]
}

# Creating the DataFrame
df = pd.DataFrame(data)
#print(df)

    Name  Age             Job  Salary
0   John   28      Programmer   58000
1    Eva   34         Analyst   64000
2   Adam   30  Data Scientist   72000
3  Petra   25   Data Engineer   69000
4   Mark   29  Data Scientist   71000
5   Lucy   35      Programmer   60000
6   Mike   32  Data Scientist   75000

In [15]:
# Task: 1. Group the employees by their "Job" titles.
grouped_df = df.groupby('Job')
print(grouped_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x12f7e95e0>

In [60]:
# Task:  2. Calculate the average salary for each job title.
average_job_salary = df.groupby('Job')['Salary'].mean()
print(average_job_salary)

average_salary_per_job = grouped['Salary'].mean() # second option
print(average_salary_per_job)

Job
Analyst           64000.000000
Data Engineer     69000.000000
Data Scientist    72666.666667
Programmer        59000.000000
Name: Salary, dtype: float64
Job
Analyst           64000.000000
Data Engineer     69000.000000
Data Scientist    72666.666667
Programmer        59000.000000
Name: Salary, dtype: float64

In [20]:
# Task: 3. Count how many employees are in each job category.
sum_employees = df.groupby('Job')['Name'].count()
sum_employees2 = df.groupby('Job').size() # second option
print(sum_employees)
print()
print(sum_employees2)

Job
Analyst           1
Data Engineer     1
Data Scientist    3
Programmer        2
Name: Name, dtype: int64

Job
Analyst           1
Data Engineer     1
Data Scientist    3
Programmer        2
dtype: int64

In [71]:
# Task: 4. Print the grouped DataFrame, showing both the average salary and employee count for each job.

# 1. group the df
grouped = df.groupby('Job') # df grouped by job
print(grouped)

# create average salary and employee count on job level
average_salary_and_employee_count = grouped['Salary'].agg(['mean', 'count']) # both mean and count on grouped df
average_salary_and_employee_count.columns = ['Average Salary', 'Employee Count'] # renaming columns of the df

print(average_salary_and_employee_count)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x130329d30>
                Average Salary  Employee Count
Job
Analyst           64000.000000               1
Data Engineer     69000.000000               1
Data Scientist    72666.666667               3
Programmer        59000.000000               2

In [58]:
# Bonus task:
# Find the job title with the highest average salary and print it.
# Get top 5 employees with the highest salaries
# Add titles and column name for average salary

# part1a: avg salary grouped by job 
avg_salary_per_job = df.groupby('Job')['Salary'].mean()
avg_salary_per_job_df = avg_salary_per_job.reset_index() # Convert to DataFrame
avg_salary_per_job_df.columns = ['Job', 'Average Salary'] # Rename columns
print('Average job salary:')
print(avg_salary_per_job_df)
print()

# part1b: highest avg salary
highest_salary_job = avg_salary_per_job.idxmax()
print('Highest salary:', highest_salary_job)
print()

# part 2: Top 5 employees with the highest salaries
# Print the top 5
top_5_salaries = df.nlargest(5, 'Salary')
print('Top 5 employees with highes salaries:')
print(top_5_salaries)

Average job salary:
              Job  Average Salary
0         Analyst    64000.000000
1   Data Engineer    69000.000000
2  Data Scientist    72666.666667
3      Programmer    59000.000000

Highest salary: Data Scientist

Top 5 employees with highes salaries:
    Name  Age             Job  Salary
6   Mike   32  Data Scientist   75000
2   Adam   30  Data Scientist   72000
4   Mark   29  Data Scientist   71000
3  Petra   25   Data Engineer   69000
1    Eva   34         Analyst   64000