In [1]:
#### 100 DAYS OF PYTHON #### 
# Day 2: Data Cleaning and Missing Values in Pandas

# Task:
# You will work with a DataFrame containing some missing data (NaN values).
# Your task is to clean the data and handle the missing values.

# Here is the data you will work with:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | NaN | Analyst          | 64000  |
# | Adam  | 30  | NaN              | 72000  |
# | Petra | 25  | Data Engineer    | NaN    |
# | Mark  | NaN | Data Scientist   | 71000  |

# Tasks:
# 1. Load the DataFrame with the above data.
# 2. Detect which rows have missing values (NaN).
# 3. Replace missing "Age" values with the mean age of the available data.
# 4. Replace missing "Job" values with a placeholder, e.g., "Unknown".
# 5. Drop any rows where the "Salary" value is missing.
# 6. Print the cleaned DataFrame.

# Tips:
# - Use `isnull()` to detect missing values.
# - Use `fillna()` to replace missing values.
# - Use `dropna()` to drop rows with missing values.

# Bonus task:
# After cleaning the data, calculate the average salary of all employees.

In [3]:
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [22]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra', 'Mark'],
    'Age': [28, None , 30, 25, None ],
    'Job': ['Programmer', 'Analyst', None , 'Data Engineer', 'Data Scientist'],
    'Salary': [58000, 64000, 72000, None , 71000]
}

# Creating the DataFrame
df = pd.DataFrame(data)

In [23]:
# Task: 1. Print the first 5 rows of the DataFrame.
print(df.head())

    Name   Age             Job   Salary
0   John  28.0      Programmer  58000.0
1    Eva   NaN         Analyst  64000.0
2   Adam  30.0            None  72000.0
3  Petra  25.0   Data Engineer      NaN
4   Mark   NaN  Data Scientist  71000.0

In [24]:
# 1. Load the DataFrame with the above data.
print(df)

    Name   Age             Job   Salary
0   John  28.0      Programmer  58000.0
1    Eva   NaN         Analyst  64000.0
2   Adam  30.0            None  72000.0
3  Petra  25.0   Data Engineer      NaN
4   Mark   NaN  Data Scientist  71000.0

In [25]:
# 2. Detect which rows have missing values (NaN).
missing_values = df.isnull()
print(missing_values)

    Name    Age    Job  Salary
0  False  False  False   False
1  False   True  False   False
2  False  False   True   False
3  False  False  False    True
4  False   True  False   False

In [29]:
# 3. Replace missing "Age" values with the mean age of the available data.
mean_age = df['Age'].mean()
df['Age'].fillna(mean_age, inplace=True)
print(df)

    Name        Age             Job   Salary
0   John  28.000000      Programmer  58000.0
1    Eva  27.666667         Analyst  64000.0
2   Adam  30.000000            None  72000.0
3  Petra  25.000000   Data Engineer      NaN
4   Mark  27.666667  Data Scientist  71000.0

In [43]:
# 4. Replace missing "Job" values with a placeholder, e.g., "Unknown".
df['Job'].fillna('Unknown', inplace = True)
print(df)# Tips:
# - Use `isnull()` to detect missing values.
# - Use `fillna()` to replace missing values.
# - Use `dropna()` to drop rows with missing values.

   Name        Age             Job   Salary
0  John  28.000000      Programmer  58000.0
1   Eva  27.666667         Analyst  64000.0
2  Adam  30.000000         Unknown  72000.0
4  Mark  27.666667  Data Scientist  71000.0

In [44]:
# 5. Drop any rows where the "Salary" value is missing.
df.dropna(subset=['Salary'], inplace=True)

In [45]:
# 6. Print the cleaned DataFrame.
print(df)

   Name        Age             Job   Salary
0  John  28.000000      Programmer  58000.0
1   Eva  27.666667         Analyst  64000.0
2  Adam  30.000000         Unknown  72000.0
4  Mark  27.666667  Data Scientist  71000.0

In [46]:
# Bonus task:
# After cleaning the data, calculate the average salary of all employees.
avg_salary = df['Salary'].mean()
print(avg_salary)

66250.0