In [1]:
# Day 2: Data Cleaning and Missing Values in Pandas

# Task:
# You will work with a DataFrame containing some missing data (NaN values).
# Your task is to clean the data and handle the missing values.

# Here is the data you will work with:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | NaN | Analyst          | 64000  |
# | Adam  | 30  | NaN              | 72000  |
# | Petra | 25  | Data Engineer    | NaN    |
# | Mark  | NaN | Data Scientist   | 71000  |

# Tasks:
# 1. Load the DataFrame with the above data.
# 2. Detect which rows have missing values (NaN).
# 3. Replace missing "Age" values with the mean age of the available data.
# 4. Replace missing "Job" values with a placeholder, e.g., "Unknown".
# 5. Drop any rows where the "Salary" value is missing.
# 6. Print the cleaned DataFrame.

# Tips:
# - Use `isnull()` to detect missing values.
# - Use `fillna()` to replace missing values.
# - Use `dropna()` to drop rows with missing values.

# Bonus task:
# After cleaning the data, calculate the average salary of all employees.

In [3]:
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [7]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra', 'Mark'],
    'Age': [28, 'NaN', 30, 25, 'NaN'],
    'Job': ['Programmer', 'Analyst', 'Nan', 'Data Engineer', 'Data Scientist'],
    'Salary': [58000, 64000, 72000, 'NaN', 71000]
}

# Creating the DataFrame
df = pd.DataFrame(data)

In [8]:
# Task: 1. Print the first 5 rows of the DataFrame.
print(df.head())

    Name  Age             Job Salary
0   John   28      Programmer  58000
1    Eva  NaN         Analyst  64000
2   Adam   30             Nan  72000
3  Petra   25   Data Engineer    NaN
4   Mark  NaN  Data Scientist  71000

In [9]:
# 1. Load the DataFrame with the above data.
print(df)

    Name  Age             Job Salary
0   John   28      Programmer  58000
1    Eva  NaN         Analyst  64000
2   Adam   30             Nan  72000
3  Petra   25   Data Engineer    NaN
4   Mark  NaN  Data Scientist  71000

In [ ]:
# 2. Detect which rows have missing values (NaN).

In [ ]:
# 3. Replace missing "Age" values with the mean age of the available data.

In [ ]:
# 4. Replace missing "Job" values with a placeholder, e.g., "Unknown".

In [10]:
# 5. Drop any rows where the "Salary" value is missing.

In [ ]:
# 6. Print the cleaned DataFrame.