In [ ]:
# Day 5: Aggregation and Grouping with Multiple Criteria

# Task:
# You will work with a DataFrame containing employee information, similar to the previous tasks.
# Your task is to perform more complex aggregations and grouping based on multiple criteria.

# Here is the data you will work with:

# | Name  | Age | Job              | Salary | Experience |
# |-------|-----|------------------|--------|------------|
# | John  | 28  | Programmer       | 58000  | 3          |
# | Eva   | 34  | Analyst          | 64000  | 6          |
# | Adam  | 30  | Data Scientist   | 72000  | 5          |
# | Petra | 25  | Data Engineer    | 69000  | 4          |
# | Mark  | 29  | Data Scientist   | 71000  | 4          |

# Tasks:
# 1. Load the DataFrame with the given data.
# 2. Group the data by both the 'Job' and 'Experience' columns.
# 3. For each group, calculate the average salary and the total number of employees.
# 4. Print the resulting grouped DataFrame with these aggregated values.

# Tips:
# - Use `groupby()` to group by multiple columns.
# - Use `agg()` to apply multiple aggregation functions like 'mean' and 'count'.
# - Use `reset_index()` if needed to flatten the groupby object for easier readability.

# Bonus Task:
# After grouping, find the group with the highest average salary and print it.

In [1]:
# import libraries
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

/Users/lucie/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [2]:
# Task: 1. Load the DataFrame with the given data.
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra', 'Mark'],
    'Age': [28, 34 , 30, 25, 29 ],
    'Job': ['Programmer', 'Analyst', 'Data Scientist' , 'Data Engineer', 'Data Scientist'],
    'Salary': [58000, 64000, 72000, 69000 , 71000],
    'Experience': [3, 6, 5, 4, 4]
}

# Creating the DataFrame
df = pd.DataFrame(data)
#print(df)

In [6]:
# Task: 2. Group the data by both the 'Job' and 'Experience' columns.
# Group by job
grouped_by_job = df.groupby(df['Job'])
#grouped_by_job2 = df.groupby('Job')

# Group by experience
grouped_by_experience = df.groupby('Experience')
# grouped_by_experience2 = df.groupby(df['Experience'])
print(grouped_by_job)
print(grouped_by_experience)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x12fd0b9d0>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x12fbf53d0>

In [14]:
# Task: 3. For each group, calculate the average salary and the total number of employees.
grouped_df = df.groupby('Job').agg(            # using the groupby and .agg
    Average_Salary=('Salary', 'mean'),      # new column Average_Salary calculated as mean of salary
    Employee_Count=('Name', 'count')        # new column Employee_Count calculated as count of Names
)

In [15]:
# Task: 4. Print the resulting grouped DataFrame with these aggregated values.
print(grouped_df)

                Average_Salary  Employee_Count
Job
Analyst                64000.0               1
Data Engineer          69000.0               1
Data Scientist         71500.0               2
Programmer             58000.0               1

In [24]:
# Bonus task:
# After grouping, find the group with the highest average salary and print it.
highest_avg_salary = grouped_df.loc[grouped_df['Average_Salary'].idxmax()]
print(highest_avg_salary)

Average_Salary    71500.0
Employee_Count        2.0
Name: Data Scientist, dtype: float64