In [ ]:
# Day 1: Introduction to Pandas – Basic DataFrame Operations

# Task:
# Create a Pandas DataFrame from the following data:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | 34  | Analyst          | 64000  |
# | Adam  | 30  | Data Scientist   | 72000  |
# | Petra | 25  | Data Engineer    | 69000  |

# Tasks:
# 1. Print the first 5 rows of the DataFrame.
# 2. Sort the DataFrame by salary in descending order.
# 3. Create a new column called "Bonus," which is 10% of each employee’s salary.
# 4. Print only the columns "Name" and "Salary."
# 5. Save the DataFrame to a CSV file.

# Tips:
# - Use the `pandas` library to manipulate the data.
# - You can save the CSV file using the `to_csv()` function.

# Bonus task:
# Find out how many employees have a salary higher than 60,000.

######

In [2]:
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [3]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra'],
    'Age': [28, 34, 30, 25],
    'Job': ['Programmer', 'Analyst', 'Data Scientist', 'Data Engineer'],
    'Salary': [58000, 64000, 72000, 69000]
}

In [4]:
# Creating the DataFrame
df = pd.DataFrame(data)

In [5]:
# Task: 1. Print the first 5 rows of the DataFrame.
print(df.head())

    Name  Age             Job  Salary
0   John   28      Programmer   58000
1    Eva   34         Analyst   64000
2   Adam   30  Data Scientist   72000
3  Petra   25   Data Engineer   69000

In [14]:
# Task: 2. Sort the DataFrame by salary in descending order.
#df.sort_values(ascending=False) # Descending
df.sort_values(by='Name', ascending=False)

    Name  Age             Job  Salary
3  Petra   25   Data Engineer   69000
0   John   28      Programmer   58000
1    Eva   34         Analyst   64000
2   Adam   30  Data Scientist   72000

In [ ]:
# Task: 3. Create a new column called "Bonus," which is 10% of each employee’s salary.

In [ ]:
# Task: 4. Print only the columns "Name" and "Salary."

In [ ]:
# Task: 5. Save the DataFrame to a CSV file.