In [ ]:
# Day 4: Working with Grouping and Aggregation in Pandas

# Task:
# You will work with a DataFrame containing employee data, and your task is to perform grouping and aggregation operations.

# Here is the data you will work with:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | 34  | Analyst          | 64000  |
# | Adam  | 30  | Data Scientist   | 72000  |
# | Petra | 25  | Data Engineer    | 69000  |
# | Mark  | 29  | Data Scientist   | 71000  |
# | Lucy  | 35  | Programmer       | 60000  |
# | Mike  | 32  | Data Scientist   | 75000  |

# Tasks:
# 1. Group the employees by their "Job" titles.
# 2. Calculate the average salary for each job title.
# 3. Count how many employees are in each job category.
# 4. Print the grouped DataFrame, showing both the average salary and employee count for each job.

# Tips:
# - Use `groupby()` to group data by a specific column.
# - Use `agg()` to perform multiple aggregation functions.
# - Use `size()` to count the number of employees in each group.

# Bonus task:
# Find the job title with the highest average salary and print it.

In [ ]:
# import libraries
import pandas as pd
from pandas.core.computation.check import NUMEXPR_INSTALLED

In [ ]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra', 'Mark', 'Lucy', 'Mike'],
    'Age': [28, 34 , 30, 25, 29, 35, 32 ],
    'Job': ['Programmer', 'Analyst', 'Data Scientist' , 'Data Engineer', 'Data Scientist', 'Programmer', 'Data Scientist'],
    'Salary': [58000, 64000, 72000, 69000 , 71000, 60000, 75000]
}

# Creating the DataFrame
df = pd.DataFrame(data)