In [ ]:
# Day 1: Introduction to Pandas – Basic DataFrame Operations

# Task:
# Create a Pandas DataFrame from the following data:

# | Name  | Age | Job              | Salary |
# |-------|-----|------------------|--------|
# | John  | 28  | Programmer       | 58000  |
# | Eva   | 34  | Analyst          | 64000  |
# | Adam  | 30  | Data Scientist   | 72000  |
# | Petra | 25  | Data Engineer    | 69000  |

# Tasks:
# 1. Print the first 5 rows of the DataFrame.
# 2. Sort the DataFrame by salary in descending order.
# 3. Create a new column called "Bonus," which is 10% of each employee’s salary.
# 4. Print only the columns "Name" and "Salary."
# 5. Save the DataFrame to a CSV file.

# Tips:
# - Use the `pandas` library to manipulate the data.
# - You can save the CSV file using the `to_csv()` function.

# Bonus task:
# Find out how many employees have a salary higher than 60,000.

######

In [ ]:

import pandas as pd

In [ ]:
# Data for the DataFrame
data = {
    'Name': ['John', 'Eva', 'Adam', 'Petra'],
    'Age': [28, 34, 30, 25],
    'Job': ['Programmer', 'Analyst', 'Data Scientist', 'Data Engineer'],
    'Salary': [58000, 64000, 72000, 69000]
}

In [ ]:
# Creating the DataFrame
df = pd.DataFrame(data)

In [ ]:
# Task: 1. Print the first 5 rows of the DataFrame.
print(df.head())

In [ ]:
# Task: 2. Sort the DataFrame by salary in descending order.
df.sort_values(ascending=False) # Descending

In [ ]:
# Task: 3. Create a new column called "Bonus," which is 10% of each employee’s salary.

In [ ]:
# Task: 4. Print only the columns "Name" and "Salary."

In [ ]:
# Task: 5. Save the DataFrame to a CSV file.